<div id="score_card_table">
      <table class="table table-hover table-striped well home_page_table">
          <thead>
            <tr>
              <th>Player Name</th>
              <th>Score</th>
              <th>URL Hits
              </th>
            </tr>
          </thead>
          <tbody>
          <% @players_list = get_top_scorers_list %>
          <% @players_list.each do |player| %>
          <% if player.hits > 0 %>
            <tr>
              <td><%= player.name %> </td>
              <td><%= player.score %></td>
              <td><%= player.hits %></td>
            </tr>
            <% end %>
            <% end%>
          </tbody>
      </table>
    </div>
  </div>